
body { font-family: Verdana, Palatino, Garamond, Arial, Georgia, Times, Geneva, Tahoma;
       font-style: normal; line-height: normal;
       font-weight: normal; font-variant: normal; text-transform: none;
       color: white; text-decoration: none; background-color:#005980}

      <!-- 005980: GW Blue; FFEE99: GW Buff A68519: GW Metallic Gold; E6B800: GW Bright Gold -->
      <!-- used to be #eaeaea, A2D6FF -->

<!-- the order of "visited; hover; a" is important -->
a:visited {text-decoration: none; color: white; font-weight:bold}
a:hover { text-decoration: underline; color: #E6B800;
  background-color: none}
a { font-size:15pt; font-weight: bold; color: white; text-decoration:
none; text-transform: bold}
	
td img{display:block} 
td {height:26pt; text-align:left; vertical-align:top}
