<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- Default Statcounter code for Xiangyun Qiu's Research Space -->
    <script type="text/javascript">
      var sc_project=1576386; 
      var sc_invisible=0; 
      var sc_security="01235842"; 
      var scJsHost = "https://";
      document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+"statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter" align="center"><a title="Web Analytics"
      href="https://statcounter.com/" target="_blank"><img
      class="statcounter"
      src="https://c.statcounter.com/1576386/0/01235842/0/"
      alt="Web Analytics"
      referrerPolicy="no-referrer-when-downgrade"></a></div>
    </noscript>

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
